@import './index.scss';
.banner{
    margin-top: 20px;
    .back{
        height: 223px;
        position: relative;
        margin-bottom: 20px;
        &::after{
            position: absolute;
            left: 50%;
            transform: translateY(-50%);
            top: 40%;
            transform: translateX(-50%);
            width: 770px;
            max-width: 100%;
            content: "Chez vous, partout et ailleurs";
            font-size: 48px;
            font-weight: $text-weight;
            color: white;
        }
        
        img{
            width: 100%;
            height: 100%;
            object-fit:cover;
            border-radius: 20px;
            filter:brightness(70%);
        }
    }
    .cards{
        background-color:#F6F6F6;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        gap: 40px;
        padding: 40px;
        border-radius: 20px;
        img{
            width: 100%;
            height: 100%;
        }
    }

}
@media(max-width:800px){
    .banner .back::after{
        width: fit-content;
        font-size: 24px;
    }
}


