@import './index.scss';
.container{
     background-color: white;
     padding: 0 40px;
     .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .link1{
            color: $text-color;
            font-weight: $text-weight;
            font-size: $text-size;
            transition: .5s ease;
            display: inline-block;
            &:hover{
                transform: scale(1.1,1.1);
                cursor: pointer;
            }
        }
        .link2{
            text-decoration: none;
            margin-left: 45px;
        }
        
    }
 
}

.footer{
    margin-top: 30px;
    background-color: black;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    .content img{
        height: 40px;
        margin-bottom: 40px;
        width: 122px;
    }
    .content p{
        font-size: $text-size;
        font-weight:$text-weight;
        color: white;
    }
}

@media(max-width:575px){
    .container{
        padding: 0 10px;
    }
    .container .header .link1{
        font-size: 12px;
    }
    .container .header .link2{
        margin-left: 10px;
    }
    .container .header img{
        width: 145px;
        height: 46px;
    }
}






