@import './index.scss';
.error{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    .content{
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }
    .content span{
        font-size: 6em;
    }
    .content > *{
        color: $text-color;
    }
}